/*Estilos globales*/

body {
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;   
    background-color: var(--fondo-color);  
}

/*Para los kinds*/
.kind.Alicorn { background: rgb(231, 127, 252); }
.kind.Unicorn { background: blue; }
.kind.Pegasus { background: skyblue; }
.kind.Earth { background: green; }
.kind.Human { background: orange; }


/*Paleta de colores*/
:root{
    --fondo-color:rgb(223, 182, 221);
    --card-color:rgb(180, 146, 172);
}


.card{
    justify-content: center;
    border-radius: 8px;
    box-shadow: 10px;
    padding: 20px;
    transition: background-color 0.3s ease;
    background-color: var(--card-color);
}
.card:hover{
    background-color: rgb(158, 109, 146);
}

.img-container {
    width: 200px;
    height: 200px; 
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

#mlp-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /*ajusta sin recortar*/
    filter: blur(25px);
    transform: scale(1.2);
}

#mlp-img {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /*ajusta sin recortar*/
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

#mlp-name{
    font-size: medium;
}

.button{
    background-color: blue;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover{
    background-color: blueviolet;
}