/*Estilos globales*/

body {
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    background: #0e8f2f;
}

/*Para los kinds*/
.kind.Alicorn { background: rgb(231, 127, 252); }
.kind.Unicorn { background: blue; }
.kind.Pegasus { background: skyblue; }
.kind.Earth { background: green; }
.kind.Human { background: orange; }


/*Paleta de colores*/
:root{
    --fondo-color:rgb(239, 240, 175);
    --card-color:rgb(214, 106, 73);
    --accents-color:rgb(177, 43, 83);
}


.card{
    justify-content: center;
    border-radius: 8px;
    box-shadow: 10px;
    padding: 20px;
    transition: background-color 0.3s ease;
}
.card:hover{
    background-color: rgb(95, 207, 114);
}

.accents{

}

.button{
    background-color: blue;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover{
    background-color: blueviolet;
}