/*Estilos globales*/

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;   
    background: url(bkg.jpg) no-repeat center center;
    background-size: cover;
    font-family: "Luxurious Roman", serif;
    
    
}

.mlplogo{
    
    width: 90px;
    position: absolute;
    top: 120px; 
    left: 50%; 
    transform: translateX(-50%); 
}


/*Para los kinds*/
.Alicorn { background: rgb(248, 172, 255);color: #361e58; }
.Unicorn { background: rgb(164, 164, 255);color: #361e58; }
.Pegasus { background: skyblue; color: #361e58;}
.Earth { background: rgb(175, 228, 115); color: #361e58;}
.Human { background: rgb(212, 203, 186);color: #361e58; }
.Griffon { background: rgb(168, 165, 202);color: #361e58; }
.Dog { background: rgb(88, 76, 54);color: #ffffff; }
.Griffon { background: rgb(168, 165, 202);color: #361e58; }
.Yak { background: rgb(204, 151, 116);color: #361e58; }
.Dragon { background: rgb(143, 245, 160);color: #361e58; }
.Changeling { background: rgb(202, 240, 112);color: #361e58; }
.Hippogriff { background: rgb(116, 198, 236);color: #361e58; }
.Seapony { background: rgb(150, 174, 255);color: #361e58; }
.Changeling { background: rgb(202, 240, 112);color: #361e58; }
.Umbrum { background: rgb(75, 75, 75);color: #ffffff; }
.Crystal { background: rgb(238, 148, 250);color: #361e58; }
.Centaur { background: rgb(51, 30, 30);color: #ffffff; }
.Siren { background: rgb(166, 159, 228);color: #361e58; }
.Ram { background: rgb(175, 229, 236);color: #361e58; }
.Draconequus { background: rgb(255, 237, 138);color: #361e58; }
.Ahuizotl { background: rgb(191, 202, 204);color: #361e58; }







/* El contenedor principal debe tener `position: relative` */

.kind {
    position: absolute;
    top: 396px; 
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    justify-content: center;
    gap: 8px;
}

.kind span {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    border: 2px solid #361e58;
    box-sizing: border-box;
}

/*Paleta de colores*/
:root{
    --trans-color:#404364;
    --card-color:#55577c;
}


.card{
    justify-content: center;
    border-radius: 8px;
    box-shadow: 10px;
    padding: 200px;
    position: relative;
    background: url(manuscrito.png) no-repeat center center;
}


.img-container {
    position: absolute; 
    top: 1px;
    left: 2%;
    width: 150px;
    height: 150px; 
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

#mlp-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /*ajusta sin recortar*/
    filter: blur(25px);
    transform: scale(1.2);
}

#mlp-img {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /*ajusta sin recortar*/
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

#mlp-name{
    font-size: medium;
    color: #361e58;
    position: absolute;
    top: 345px; 
    left: 50%; 
    transform: translateX(-50%); 
}
#mlp-id{
    font-size: 12px;
    color:#361e58;
    position: absolute;
    top: 365px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.button{
    background-color: rgb(229, 190, 235);
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-bottom:5px;
}
#prev{
    position: absolute;
    top: 270px; 
    left: 33%; 
    transform: translateX(-50%); 
}

#next{
    position: absolute;
    top: 270px; 
    left: 68%; 
    transform: translateX(-50%); 
}
.button:hover{
    background-color: rgb(198, 140, 252);
}